<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&amp;subset=cyrillic" rel="stylesheet">
	<title>Game of Life</title>
</head>
<body>
	{% block content %}
		<div class="container">
			<h1>Game of Life</h1>
			
			<div id="root"></div>
		</div>
	{% endblock %}
</body>
</html>